* {margin: 0; padding: 0;}
html, body {height: 100%;}
html {background: #fff;}
body {position: relative; min-height: 56em; min-width: 56em; color: #000; font-size: 62.5%;}
a {text-decoration: none;}

.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

#container.home {position: absolute; top: 50%; left: 0; right: 0; clear: both; height: 50em; margin-top: -25em;}
#card {width: 50em; margin: 0 auto; position: relative;}

.sidebar {float: left; width: 12em; margin: 0 3em 0 0;}
.sidebar a.picture {margin: 0 0 3em 2em;}
.sidebar .links {
  padding: 0.1em 0 0 0;
  font-family: "ff-dagny-web-pro"; font-size: 1.3em; font-weight: bold;
  line-height: 1.867em; text-align: right; letter-spacing: 1px;
}
.sidebar .links a {color: #000;}
.sidebar .links a:hover {color: #58b6e6; text-decoration: underline;}
.sidebar .links small {font-size: 0.7em; color: #666;}
.main {width: 35em; float: left;}
.main h1 {font-family: "ff-dagny-web-pro"; font-weight: 700; letter-spacing: 1px; font-size: 2.4em; margin: 76px 0 28px 0; height: 26px;}
.main p {font-family: "freight-text-pro", Georgia, serif; font-size: 1.7em; line-height: 1.425em; margin-bottom: 1.425em;}
.main p a {color: #296486; text-decoration: none;}
.main p a:hover {color: #58b6e6; text-decoration: underline;}

a.picture {
  display: block; width: 100px; height: 100px;
  background: url('/images/square-300.jpg') no-repeat; background-size: cover;
}
a.picture:hover {opacity: 0.75;}
