* {margin: 0; padding: 0;}
html, body {height: 100%;}
html {background: #fffefd;}
body {position: relative; min-height: 640px; min-width: 520px;color: #000;}
a {text-decoration: none;}

.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

#container.home {position: absolute; top: 50%; left: 0; right: 0; clear: both; height: 560px; /* margin-top: -170px; */ margin-top: -270px;}
#card {width: 430px; margin: 0 auto; position: relative;}

.sidebar {float: left; width: 130px; margin: 0 35px 0 0;}
.sidebar a.picture {margin: 0 0 30px 30px;}
.sidebar .links {font-family: "ff-dagny-web-pro"; font-size: 12px; line-height: 20px; text-align: right; font-weight: bold; letter-spacing: 1px; padding-top: 1px;}
.sidebar .links a {color: #000;}
.sidebar .links a:hover {text-decoration: underline;}
.sidebar .links small {font-size: 9px; color: #666;}
.main {width: 265px; float: left;}
.main h1 {font-family: "ff-dagny-web-pro"; font-weight: 700; letter-spacing: 1px; font-size: 24px; margin: 76px 0 28px 0; height: 26px;}
.main p {font-family: "garamond-premier-pro"; font-size: 16px; line-height: 20px; margin-bottom: 20px;}
.main p a {color: #e31f17; text-decoration: none;}
.main p a:hover {color: #8e371c; text-decoration: underline;}

a.picture {
  display: block; width: 100px; height: 100px;
  background: url('/6/images/square.png') no-repeat; background-size: cover;
}
a.picture:hover {opacity: 0.75;}
