---
---
@import 'variables';

* {margin: 0; padding: 0;}
html, body {height: 100%;}
html {background: #fff; font-size: 62.5%;}
body {position: relative; min-width: 90em; color: #000;}
a {text-decoration: none;}

.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

.page {
  padding: 9rem 0;
}

.header {
  font-family: $font-sans;
  margin: 0 0 4.5rem;

  &__picture {
    display: block; width: 6rem; height: 6rem;
    background: url('/images/everlane-square-300.jpg') no-repeat; background-size: cover;
  }
  &__picture:hover {opacity: 0.75;}

  &__name {
    margin: 1.5rem 0 0;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $color-grey;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
}

.page {
  width: 69rem;
  margin: 0 auto;
}

.column {
  font-family: $font-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;

  p {margin-bottom: 2.25rem;}
  a {color: $color-blue;}
  a:hover {color: $color-light-blue; text-decoration: underline;}

  h2 {
    margin: 0 0 2.25rem;
    font-family: $font-sans;
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  h3 {
    position: relative;
    top: -0.25rem;

    font-family: $font-sans;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.075rem;
  }

  &--bio {
    float: left;
    width: 30rem;
    margin: 0 0 2rem;
  }

  &--work {
    float: right;
    width: 30rem;
    margin-right: 0;

    h3 span {
      color: $color-dark-grey;
    }
  }

  &--connect-and-projects {
    float: left;
    width: 30rem;
    font-weight: 500;

    a {
      font-family: $font-sans;
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
    }

    .link__aisde {
      color: $color-grey;
      font-family: $font-sans;
      font-size: 1.375rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
    .link__aisde a {
      font-size: 1.125rem;
      font-weight: 500;
    }
    .link__aisde-lift {
      margin: 0 0.05rem;
    }
  }
}

.subcolumn {
  width: 50%;
  float: left;
}
