<!--gaug.es-->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4feb2bacf5a1f56715000036');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!--/gaug.es-->

<!--Rangefinder-->
<!--
<script type="text/javascript">
  var _rangefinder_queue = _rangefinder_queue || [];
  _rangefinder_queue.push(['track', 1]);
  document.write(unescape("%3Cscript src='//rangefinderapp.com/track1.js' type='text/javascript'%3E%3C/script%3E"));
</script>
-->
<!--/Rangefinder-->

<!--pleasant.io-->
<script type="text/javascript">
  (function() {
    if (window.location.hostname.indexOf('localhost') === -1) {
      window.PA_SITE_ID = 6780185878342;
      var u='//api.pleasant.io/';
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pleasant.js'; s.parentNode.insertBefore(g,s);
    }
  })();
</script>
<!--/pleasant.io-->

