$font-serif: 'freight-text-pro', Georgia, serif;
$font-sans: 'futura-pt', Arial, sans-serif;

// $font-sans: "ff-dagny-web-pro", Arial, sans-serif;

$color-blue: #3E8398;
$color-light-blue: #58b6e6;
$color-grey: #888;
$color-dark-grey: #444;
